{% extends "layout.html" %}
{% block content %}
    <h1>Hello, {{user.username}}! </h1>
    <h3> Are you looking for the Bot Launchpad?</h3>
    <p> If so, you have arrived. </p>
    <hr>
    <div class="album py-5 bg-light">
        <div class="container">
          {% for post in posts %}
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title"> {{post.bot.botname}} </h5>
              <p class="card-text">for help with {{ post.function }}</p>
              <a href="/{{post.bot.botname}}" class="btn btn-primary"> {{post.bot.botname}}</a>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
{% endblock %}
